<!doctype html>
<html>
    <head>
        {% if title %}
        <title>Home Page - {{ title }}</title>
        {% else %}
        <title>Home Page - PIU</title>
        {% endif %}
    </head>
    <body>
        <div>
            PIU Score Submitter: <br>
            <a href = "{{ url_for('entrance') }}">Main</a><br>
            <a href = "{{ url_for('home') }}">Homepage</a><br>
            {% if current_user.is_anonymous %}
            <a href = "{{ url_for('login') }}">Login</a><br>
            {% else %}
            <a href = "{{ url_for('user', username = current_user.username) }}">Profile</a><br>
            <a href = "{{ url_for('logout') }}">Logout</a><br>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>