{% extends "base.html" %}

{% block app_content %}
    <h1>Mini Challenge #9</h1>

    <h2>Basic Information</h2>
    <strong>Mini-Challenge #9</strong><br/>
	<strong>Timeline</strong>: 2023.03.19 ~ 2023.03.30<br/>
	<p>
	    <strong>Description: </strong>A simple one to restart the event culture of the group!
	</p>
	<strong>Scoring System</strong>: EX-Score<br/>
	<div class="alert alert-info" role="alert">
		EX-Score = <b>(perfect + 0.8*great + 0.5*good + 0.1*bad) / (perfect + great + good + bad + miss)</b>
	</div>

	<h2>Featured Songs</h2>
	<ol type="1">
        <li>Final Audition Ep 1 S20</li>
        <li>Chicken Wing S20</li>
        <li>EXTRA BanYa Remix S21</li>
    </ol>

	<h2>Mechanics</h2>
	Attempt all 3 songs. There is no need to attempt it in one set, i.e. always input set number = 1 in the score submitter.

	<h2>Objectives</h2>
	Highest EX-score win!

    <h2>Other Information</h2>
    <p>
        Additional information for the mini-challenge are as follows:
        <ul>
            <li>Players are allowed to attempt each chart as many times as possible within the time period, and
                only the highest total score will be used in the final calculation.</li>
            <li>Currently, there is no requirement to upload the photo of your scores. However, please fill in the form
                provided <a href="{{ url_for('score') }}">here</a> honestly.</li>
        </ul>
        Enjoy the competition, and may the odds be ever in your favor.
    </p>

    <h2>Leaderboards</h2>
    <p>The current standing of the competition is as follows:
        {% if final %}
        <style>
            .secondTable, .secondTable th, .secondTable td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            .secondTable th, .secondTable td {
                padding: 10px;
                text-align: center;
            }
            .secondTable th {
                background-color: greenyellow;
                font-size: 17px;
            }
            .secondTable colgroup {
                width: 50px
            }
        </style>
        <div>
            <table class="secondTable">
                <colgroup>
                    <col style="width:50px">
                    <col style="width:200px">
                    <col style="width:150px">
                </colgroup>
                <tr>
                    <th><b>Rank</b></th>
                    <th><b>Username</b></th>
                    <th><b>FINAL SCORE</b></th>
                </tr>
                {% for details in final %}
                <tr>
                    <td>{{ details.rank }}</td>
                    <td>{{ details.username }}</td>
                    <td><b>{{ details.totalScore }}</b></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <p>No existing user has attempted the event thus far</p>
        {% endif %}
    </p>
{% endblock %}