{% extends "base.html" %}

{% block app_content %}
    <h2>Welcome, {{ current_user.username }}, to PIU Score Submitter</h2><br>
    <p>Currently, here are the list of competitions you might be able to participate in:</p>
    {% for post in posts %}
    <div>
        <p>
            {% if post.status == 0 %}
                <span class="label label-default">DONE</span>
            {% elif post.status == 2 %}
                <span class="label label-info">Coming Soon</span>
            {% endif %}
            <a href="{{ url_for('comp', event=post.code) }}">{{ post.comp_name }}</a>
        </p>
    </div>
    {% endfor %}
{% endblock %}