{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Score Submission</h1>
    <h3>Please submit your score below</h3>
    <div class="row">
        <div class="col-md-4">
            <p>
                <b>PIU Username</b><br />
                {{ username }}
            </p>
            {{ wtf.quick_form(form) }}
        </div>
        <script>
            let chart_select = document.getElementById('chart');
            let event_select = document.getElementById('event');

            event_select.onchange = function() {
                event = event_select.value;
                
                fetch('/chart/' + event).then(function(response) {
                    response.json().then(function(data) {
                        let optionHTML = "";
                        for (let chart of data.charts) {
                            optionHTML += '<option value="' + chart.id + '">' + chart.chart + '</option>';
                        }
                        chart_select.innerHTML = optionHTML;
                    });
                });
            }
        </script>
    </div>
{% endblock %}